h1.jgh-title.big {
	font-size: 40px;
	color: #4B4545;
}
h1.jgh-title.small {
	font-size: 30px;
	line-height: 58px;
	color: #EDEDED;
	}
h1.jgh-title {
	float: left;
	font-family:"museo-slab";
}
.jgh-header{
	background: #9fc9d7;
	background: -moz-linear-gradient(top,  #9fc9d7 0%, #7898a4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fc9d7), color-stop(100%,#7898a4));
	background: -webkit-linear-gradient(top,  #9fc9d7 0%,#7898a4 100%);
	background: -o-linear-gradient(top,  #9fc9d7 0%,#7898a4 100%);
	background: -ms-linear-gradient(top,  #9fc9d7 0%,#7898a4 100%);
	background: linear-gradient(to bottom,  #9fc9d7 0%,#7898a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fc9d7', endColorstr='#7898a4',GradientType=0 );
}
.jgh-header-child{
	margin: 30px 10px;}
.jgh-nav{
	background: rgb(75,69,69);}
.jgh-sidebar{
	width: 200px;}
.jgh-container{
	max-width: 1200px;}
footer{
	background: #9fc9d7;
	background: -moz-linear-gradient(top,  #9fc9d7 0%, #7898a4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9fc9d7), color-stop(100%,#7898a4));
	background: -webkit-linear-gradient(top,  #9fc9d7 0%,#7898a4 100%);
	background: -o-linear-gradient(top,  #9fc9d7 0%,#7898a4 100%);
	background: -ms-linear-gradient(top,  #9fc9d7 0%,#7898a4 100%);
	background: linear-gradient(to bottom,  #9fc9d7 0%,#7898a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9fc9d7', endColorstr='#7898a4',GradientType=0 );
}
.row{
	max-width: 1000px;
}
.button.alert{
	background-color: #7599AA;
}
.jgh-modular h2{
	font-size:15px;
	color: white;
	font-weight:bold;
	text-align:center;
	padding: 5px;
	background: none repeat scroll 0% 0% #506C76;
	border-radius: 5px 5px 0px 0px;
}
.jgh-modular h3{
	font-size:13px;
	height: 25px;
	line-height: 12px;
	color: #CDCDCD;
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid #CDCDCD;
}
.jgh-currentissue img{
	width:120px; 
	height:160px;
	display:block;
	margin:0 auto;
} 
.jgh-currentissue ul{
	list-style:outside none none;
		text-align:center;
}
.jgh-newsresearch{
	font-size: 12px;
}
.jgh-newsresearch img{
	width: 68px;
	height:100px;
}
.jgh-newsresearch-modular{
	border-bottom: 1px solid #CDCDCD;
}
.jgh-newsresearch-label a{
	background: none repeat scroll 0% 0% #5D5D5D;
	font-size: 9px;
	color: #FFF;
	padding: 2px 4px;
	position: relative;
	left:10px;
}
.jgh-newsresearch-desc{
	position: relative;
	left:10px;
}
.jgh-wighpodcast{
	background:linear-gradient(to bottom, #EAF5F9 0%, #FFFCFC 64%, #FFFCFC 100%);
	font-size: 13px;
	color: gray;
	text-align:left;
}
.jgh-wighpodcast h2{
	background:none;
	color: black;
	text-align: left;
}
.jgh-wighpodcast img{
	display:block;
	margin: 0 auto;
	position:relative;
	top:5em;
}
.jgh-sidebar{
	font-size:12px;
	background: none repeat scroll 0% 0% #506C76;
	border-radius: 5px 5px 0px 0px;
}
.jgh-sidebar-modular h2{
	font-size:15px;
	color: white;
	font-weight:bold;
	text-align:center;
	padding: 5px;
}
.jgh-sidebar-modular h3{
	font-size:13px;
	height: 25px;
	line-height: 12px;
	color: #CDCDCD;
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid #CDCDCD;
}
.jgh-trending h2{
	font-size: 36px;
	font-family: "Times New Roman";
	color: #453A38;
	line-height: 80px;
	border-bottom: 1px solid #CDCDCD;
}
.jgh-footer{
	background:none repeat scroll 0% 0% #4B4545;
	font-family: "Times New Roman";
	font-size: 15px;
	color: white;
}
.jgh-information-modular{
	border-bottom: 1px solid #CDCDCD;
}